@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>For setup or advice please contact:</h3>

<address>
    John Calder<br />
    Senior Lecturer<br />
    Faculty of Business and I.T.<br />
    Manukau Institute of Technology<br />
    E: john.calder@@manukau.ac.nz<br />
    P: 09-9754612<br />
</address>