<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div id="outerDiv">
        <h2>Home Page for this test of SignalR</h2>
        <h3>
            Experiment with using SignalR instead of HTTP for SaaS work
            <br /> <br />
            This app is for transfer of data between machines
            and it is therefore designed to be machine-friendly
            rather than human user-friendly.
        </h3>
    </div>
</body>
</html>
