
@{
    ViewBag.Title = "Services";
}

<h2>Machine-to-Machine Service Only</h2>

<p>
    This website is for machine-to-machine information transfer only.<br />
    It is not designed or intended to be human-readable.
</p>

<p>
    If you are a developer intending to program data exchange with this "web service" website,
    then you need to get authorisation and documentation from your systems and admin people.
</p>



